# base subset is the basic subset of all rootfs, ramdisk. 
#  - auto resize ext2 fs
BR2_TARGET_ROOTFS_EXT2_SIZE="AUTO"
#  - use glibc as the basic libc
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
#  - Rockchip use 4.4 kernel, so we need 4.4 kernel header
BR2_KERNEL_HEADERS_4_4=y
#  - we use buildroot toolcharn here, may change to custom toolchain in the feature
BR2_TOOLCHAIN_BUILDROOT_CXX=y
#  - we have to use eudev, because wayland need udev support
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
#  - the basic fs-overlay, will copy to rootfs after all package built
BR2_ROOTFS_OVERLAY="board/rockchip/common/base"
#  - the post build script will be excuted after all fs-overlay copyed
BR2_ROOTFS_POST_BUILD_SCRIPT="build/post.sh"
#  - specify this is rockchip package
BR2_PACKAGE_ROCKCHIP=y
#  - vensor storage tool is used to r/w SN, wifi/bt/lan mac
BR2_PACKAGE_VENDOR_STORAGE=y
#  - show other busybox config
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
#  - usb device package used to init and config udc like adb and usb mass storage
BR2_PACKAGE_USBDEVICE=y
#  - usbmount used to mount usb disk to /media/ when it plug in
BR2_PACKAGE_USBMOUNT=y
#  - input event daemon used to handle key event, ie. power on/off system
BR2_PACKAGE_INPUT_EVENT_DAEMON=y
#  - upower used to monitor the power state of system
BR2_PACKAGE_UPOWER=y
#  - pm utils used to suspend/resume system
BR2_PACKAGE_PM_UTILS=y
#  - we need to use fsck and resize2fs to check and extend ext2/4 file system when the first time system boot up
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_FSCK=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
#  - we need to use dostool, mkfs.fat to format fat file system when the first time system boot up
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
#  - partinit is a set of script. it will create /dev/block/by-name for internal emmc and nand flash device partition. check if /oem and /userdata is fat/ext2/ext4, deside to resize it or format it when the first time systm boot up. create link for first usb disk. auto mount sd card
BR2_PACKAGE_PARTINIT=y
#  - we need adb as the basic tool
BR2_PACKAGE_ANDROID_TOOLS=y
#  - update tool is a command used to write factory reset or ota update command to /misc, then reboot system
#  - after that, uboot will read command from /misc and boot up recovery image
BR2_PACKAGE_UPDATE=y
#  - we need to support various rootfs, cpio for ramdisk, ext2/4 for large system, squashfs for small system
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_SQUASHFS=y
