BR2_PACKAGE_CPP_COMMON
BR2_PACKAGE_HOST_CATKIN
BR2_PACKAGE_CONSOLE_BRIDGE
BR2_PACKAGE_ROSTIME
BR2_PACKAGE_ROSCPP_TRAITS
BR2_PACKAGE_ROSCPP_SERIALIZATION
BR2_PACKAGE_ROSCPP_CORE
BR2_PACKAGE_GENCPP
BR2_PACKAGE_GENLISP
BR2_PACKAGE_GENPY
BR2_PACKAGE_GENMSG
BR2_PACKAGE_MESSAGE_GENERATION
BR2_PACKAGE_HOST_PYTHON_CATKIN_PKG
BR2_PACKAGE_ACTIONLIB_MSGS
BR2_PACKAGE_MESSAGE_RUNTIME
BR2_PACKAGE_HOST_PYTHON_EM
BR2_PACKAGE_HOST_PYTHON_EMPY
BR2_PACKAGE_ROSUNIT
BR2_PACKAGE_ROSCONSOLE
BR2_PACKAGE_XMLRPCPP
BR2_PACKAGE_ROSGRAPH_MSGS
BR2_PACKAGE_ROSCPP
BR2_PACKAGE_ROSTEST
BR2_PACKAGE_ACTIONLIB
